.main{
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  

}

.cloud{
  position:absolute;
  width: 180px;
  opacity: 0.8;
  animation:float-horizontal 3s ease-in-out  infinite;
  z-index: 0;
 
 
}
.child1,
.child2,
.child3{
  position: relative;
  z-index: 1;
}
.cloud1{
  top: 7%;
  left: 5px;
 

}
.cloud2{
  top: 25%;
 right: 7%;

}
.cloud3{
  top: 25%;
  left:15%;
 
}
.cloud4{
  top: 7%;
  right: 15%;
 
}
@keyframes float-horizontal{
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px); /* drift right and up */
  }
  100% {
    transform: translateY(0px);
  }
}
.child1{
  display: flex;
  align-items: center;
  justify-content: center;
 padding-top: 100px;
 padding-bottom: 100px;
  column-gap: 10px;
  flex-wrap: wrap;
}
#input{
  width: 500px;
  height: 40px;
  border: none;
 border-radius: 10px;
 padding-left: 16px;
 font-size: 25px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: rgba(0, 0, 0, 0.581);
 color: rgb(246, 234, 234);
 font-weight: 100;

}
#btn{
  border: none;
  border-radius: 8px;
  height: 35px;
  width: 60px;
  background-color: rgb(169, 226, 226);
  cursor: pointer;
  
}
.child2{
  
  background-color: rgba(38, 35, 219, 0.259);
  height: 150px;
  width: 1000px;
  border: none;
  border-radius: 20px;
  display: flex;
  
  align-items: center;
  padding-left: 80px;
  column-gap: 10px;
  flex-wrap: wrap; 
  
}
#img{
  width: 80px;
}
#temp{
  width: 100px;
  font-weight: bolder;
  font-size: 80px;
  margin-right: 70px;
 
}
#name{
 font-size: 40px;
 margin-left: 60px;
 font-weight: 100;
 
}
#region{
  height: 30px;
  font-weight: 400;
  font-size: 25px;
}
#country{
  height: 40px;
  font-weight: 400px;
  font-size: 20px;
}
.child3{
  background-color: rgba(198, 212, 212, 0.566);
  height: 150px;
  width: 1000px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  padding-right: 10px;
   

}
.sunrise{
  margin-left: 50px;
}
.night-bg{
  background:linear-gradient(to bottom,#0f2027, #203a43, #2c5364);
  color:black
}
.day-bg{
  background: linear-gradient(to bottom, #4facfe, #00f2fe, #43e97b);
}

@media (max-width: 500px) {
  .child1 {
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
  }

  #input {
    width: 90vw;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
  }

  #btn {
    width: 100px;
    font-size: 16px;
  }

  .child2, .child3 {
    width: 90vw;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  #temp {
    font-size: 50px;
    width: auto;
  }

  #name {
    font-size: 30px;
    margin-left: 0;
  }

  .sunrise {
    font-size: 16px;
    margin-left: 10px;
  }
}


.child1 {
  z-index: 5;
  position: relative; 
}

.cloud {
  position: absolute;
  z-index: 1; 
}
